/* app css stylesheet */

body {
    font-family: Helvetica;
    font-size: 14px;
    background-color: rgb(33, 31, 52) !important;
    height: 100%;
    min-height: 100%;
    color: white !important;
}

.menu {
    margin: 0 auto;
    width: 350px;
    list-style: none;
    border-bottom: 0.1em solid black;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu>li {
    display: inline;
}

.menu>li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
    content: "";
    padding: 0;
}

.center {
    margin: 0 auto;
    width: 350px;
    padding-top: 6px;
}

form {
    margin: 0 auto;
    width: 220px;
}

input {
    float: right;
    height: 10px;
}

.underscores {
    display: inline-block;
}

.button {
    height: 250px;
    width: 250px;
    border-radius: 125px !important;
    font-size: 85px !important;
    margin-left: 15px;
    color: #fff !important;
    background-color: #211f34 !important;
    border-color: #ffffff !important;
}

.header-title h1 {
    font-size: 60px !important;
}

.highscores {
    font-size: 40px;
}

.highscores-button {
    width: 60px;
    height: 60px;
    font-size: 20px !important;
}

.mt {
    margin-top: 15%;
}

.mt5 {
    margin-top: 5%;
}